/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::first-letter {
    text-transform: uppercase;
}

html {
    font-size: 100%;
    font-family: ‘Whitney’, sans-serif;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
/* /General */

/* margini */
.margin-btm-1dot1 {
    margin-bottom: 1.1em;
}
/* /margini */

/* header .btn link */
header a.btn {
    display: inline-block;
    background-color: white;
    border-radius: 2em;
    padding: 1px 14px;
    line-height: 2em;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
header a.btn:hover {
    color: #265ee8;
}
a.btn.big{
    padding: 7px 23px;
}
a.btn.dark{
    background-color: #23272a;
    color: white;
}


header a.btn.dark:hover,
a.btn.dark:active,
header a.btn.dark:focus {
    color: #265ee8;
}
/* /.btn link */

/* Header */
header {
    width: 100%;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}
header .navbar {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    height: 60px;
    line-height: 60px;
}
header .navbar .float {
    float: left;
    height: 100%;
}
header .navbar .float:first-child,
header .navbar .float:last-child {
    width: 25%;
}
header .navbar .float:nth-child(2) {
    width: 50%;
}
header .navbar .float .logo {
    max-width: 100%;
    vertical-align: middle;
}
header .navbar .nav-menu {
    list-style-type: none;
}
header .navbar .float .nav-menu li {
    display: inline-block;
    margin-right: 1em;
}
header .navbar .float li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
header .navbar .float li :hover,
header .navbar .float li :active,
header .navbar .float li :focus {
    text-decoration: underline;
}
header .navbar .float .nav-menu li:last-child {
    margin-right: 0;
}

/* /header */

/* jumbo */
.jumbo-text {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 10em 0;
    color: white;
}
.jumbo-text .jumbo-desc {
    line-height: 1.7em;
    font-size: 1.15em;
}
/* jumbo */